"*":
  "atom-beautify":
    _analyticsUserId: "8432554b-1973-4d12-a844-6a5880e585c6"
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "inconsolata, \"noto sans cjk jp\""
    invisibles: {}
  "exception-reporting":
    userId: "603357f6-2a2b-f8ad-33ef-ef1c74516296"
  minimap:
    plugins:
      bookmarks: true
      "git-diff": true
      "highlight-selected": true
      pigments: true
  "one-dark-ui": {}
  "todo-show":
    sortAscending: false
  welcome:
    showOnStartup: false
